body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* Bootstrap Overrides */
.general-users-list > .general-user {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.users-list > .user-list-header {
    font-weight: bold;
    font-size: 16px;
}

.users-list > .user-profile {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.post-list > .post-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.todo-list > .todo-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}